<div class="example-full-width">
<mat-form-field class="example-notfull-width">
    <mat-label>Key</mat-label>
    <input matInput [(ngModel)]="key">
</mat-form-field>
<button  mat-flat-button color="primary" style="font-size: large;" (click)="search()">search</button>
</div>
<br>
<!--div class="d-grid gap-2">
    <button (click)="editAllBranches()" mat-flat-button color="primary" style="font-size: large;">Edit All Branches</button>
</div>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree"-->
    <!-- This is the tree node template for leaf nodes -->
    <!-- There is inline padding applied to this node using styles.
      This padding value depends on the mat-icon-button width. -->
    <!--mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        {{node.valueOrHubOrApp}} {{node?.fileName}}  &nbsp;&nbsp;<button (click)="edit(node)" mat-flat-button color="primary">Edit</button>
    </mat-tree-node-->
    <!-- This is the tree node template for expandable nodes -->
    <!--mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="mat-tree-node">
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.valueOrHubOrApp">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.valueOrHubOrApp | shortString}} &nbsp;&nbsp; <button (click)="editBranch(node)" mat-flat-button color="primary">Edit All Branch</button>
        </div-->
        <!-- There is inline padding applied to this div using styles.
            This padding value depends on the mat-icon-button width.  -->
        <!--div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
            role="group">
          <ng-container matTreeNodeOutlet></ng-container>
      </div>
    </mat-nested-tree-node>
  </mat-tree-->

  <button (click)="editAll()" [hidden]="isFirstTime" class="example-full-width" mat-flat-button color="primary">Edit All Branchs</button>
  <!--div  style="padding: 8px;" *ngFor="let map of mapDataSource | keyvalue" >
    <button mat-icon-button >
            <mat-icon (click)="tt($event.target)">
              expand_more
            </mat-icon>
          </button>
          
    {{map.value|getValue}} &nbsp;&nbsp; <button (click)="editHubBranch(map.value)" mat-flat-button color="primary">Edit All Hub Branch</button>
    <div style="padding: 10px;" *ngFor="let secondMap of map.value | keyvalue">
      <button mat-icon-button >
        <mat-icon (click)="tt($event.target)">
          expand_more
        </mat-icon>
      </button>
      Hub: {{secondMap.value |getHubName}} &nbsp;&nbsp; <button (click)="editBranch(secondMap.value)" mat-flat-button color="primary">Edit All Branch</button>
      <div style="padding-left: 35px; padding-top: 10px;" *ngFor="let app of secondMap.value ">
         application: {{app.appName}} &nbsp;&nbsp; <button (click)="edit(app)" mat-flat-button color="primary">Edit </button>
      </div>
      <hr>
    </div>
  </div-->
  

    <div  style="padding: 8px;" *ngFor="let value of theSolver" >
    <button mat-icon-button >
            <mat-icon (click)="tt($event.target)">
              expand_more
            </mat-icon>
          </button>
          
    {{value[0][0].oldConfigurationResult |shortString}} &nbsp;&nbsp; <button (click)="editAllHubsBranch(value)" mat-flat-button color="primary">Edit All Hub Branch</button>
    <div style="padding: 10px;" *ngFor="let hub of value">
      <button mat-icon-button >
        <mat-icon (click)="tt($event.target)">
          expand_more
        </mat-icon>
      </button>
      Hub: {{hub[0].hubName}} &nbsp;&nbsp; <button (click)="editBranch(hub)" mat-flat-button color="primary">Edit All Branch</button>
      <div style="padding-left: 35px; padding-top: 10px;" *ngFor="let app of hub ">
         application: {{app.appName}} &nbsp;&nbsp; <button (click)="edit(app)" mat-flat-button color="primary">Edit </button>
      </div>
      <hr>
    </div>
  </div>