<table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">deploymentID</th>
        <th scope="col">deploymentDate</th>
        <th scope="col">deploymentType</th>
        <th scope="col">originalDeployment</th>
        <th scope="col">deployedBy</th>
        <th scope="col">requestedBy</th>
        <th scope="col">approvedBy</th>
        <th scope="col">Details </th>

      </tr>
    </thead>
    <tbody >
      <tr [class]="{'deployed':dep.deploymentType=='Deployment','roll':dep.deploymentType=='Rollback','config':dep.deploymentType=='Configuration','rollconfig':dep.deploymentType=='RollbackConfiguration'
          
             
                    }" *ngFor='let dep of Deployments'>
        <td>{{dep.deploymentID}}</td>
        <td>{{dep.deploymentDate|date:'medium'}}</td>
        <td >
          {{dep.deploymentType}}
        
        
        </td>
        <td >{{dep.originalDeployment==null?"original":dep.originalDeployment}}</td>
        <td>{{dep.deployedBy}}</td>
        <td>{{dep.requestedBy}}</td>
        <td>{{dep.approvedBy}}</td>
        <td><button style="height: 35px;" (click)="showdetails(dep.deploymentID)"  class="btn btn-dark">Details</button> </td>
    
      </tr>
    </tbody>
  </table>
