.deployed
{
    background-color: rgb(253, 241, 224);
}
.roll
{
    background-color: rgb(125, 224, 155);
}
.config
{
    background-color: rgb(228, 175, 111);
}
.rollconfig
{
    background-color: rgb(240, 151, 196);
}