<div class="input-group mb-3 my-4">
    upload
    <input id="filesSelector" multiple type="file" class="form-control mx-3" (change)="handleFileInput($event.target)">
    <br>
    delete
    <input id="deleteselector" multiple type="file" class="form-control mx-3" (change)="handleFileDelete($event.target)">
<!--<form class="form-group  mt-3" (ngSubmit)="uploadsub(Uploadform)" #Uploadform="ngForm">

    <div class="form-group row mb-2">
        <label class="form-label" for="files"><b>Uploadfiles</b></label>
  
        <input id="filesSelector" name="files"  [(ngModel)]=fileToUpload  #Uploadvar="ngModel" multiple type="file" class="form-control mx-3">
    </div>
    <br><br>
    <div class="form-group row mb-2">
        <label class="form-label" for="files"><b>deletefiles</b></label>
  
        <input type="text" [(ngModel)]=DeletedFiles name="Deleted" class="form-control">

    </div>
    <button type="submit"  class="btn btn-primary btn-block mb-4">Upload</button>

</form>


  <div>
  <br>Dirty: {{Uploadform.dirty}}
  <br>touched: {{Uploadform.touched}}
  <br>valid: {{Uploadform.valid}}
  
  <br>value: {{Uploadform.value|json}}
  </div>
-->