<h2 mat-dialog-title>Deploy</h2>

<mat-dialog-content class="">
    <h3>You will Deploy in Hubs:</h3>
    <p style="font-size: 24px;">
        {{data.hubs|hubTransform}}
    </p>

    <h3>Of Applications:</h3>
    <p style="font-size: 24px;">
        {{data.applications|applicationTransform}}
    </p>

    <input id="filesSelector" multiple type="file" class="form-control mx-3" (change)="handleFileInput($event.target)">
  </mat-dialog-content>

  <br><br>
  <div class="row">
    <div class="col-1"></div>
      <div class="col-3">
        <mat-form-field >
            <mat-label>Deployed By</mat-label>
            <input matInput placeholder="" [(ngModel)]="deployedBy" required>
          </mat-form-field> 
      </div>
      <div class="col-3">
        <mat-form-field > 
            <mat-label>Requested By</mat-label>
            <input matInput placeholder="" [(ngModel)]="requestedBy" required>
          </mat-form-field> 
      </div>
      <div class="col-3">
        <mat-form-field> 
            <mat-label>Approved By</mat-label>
            <input matInput placeholder="" [(ngModel)]="approvedBy" required>
          </mat-form-field>
      </div>
      <div class="col-1"></div>
  </div>


  



  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="accent" [disabled]="approvedBy.length == 0 || requestedBy.length == 0 || deployedBy.length == 0 || fileToUpload.length == 0" (click)="confirmdeploy()" cdkFocusInitial>Upload</button>
  </mat-dialog-actions>
<!--div class="form-group mb-3 my-4">
    upload
    <input id="filesSelector" multiple type="file" class="form-control mx-3" (change)="handleFileInput($event.target)">
   <select id="deleteSelect" class="m-4" multiple [(ngModel)]="selectedName" (change)="multipleselectinput()">
        <option  *ngFor ='let file of filNames' [ngValue]="file"  >
           {{file}}
        </option>
    </select>
    </div>
    <button (click)="confirmdeploy()" class="btn btn-primary btn-block mb-4">Upload</button-->

<!--<form class="form-group  mt-3" (ngSubmit)="uploadsub(Uploadform)" #Uploadform="ngForm">

    <div class="form-group row mb-2">
        <label class="form-label" for="files"><b>Uploadfiles</b></label>
  
        <input id="filesSelector" name="files"  [(ngModel)]=fileToUpload  #Uploadvar="ngModel" multiple type="file" class="form-control mx-3">
    </div>
    <br><br>
    <div class="form-group row mb-2">
        <label class="form-label" for="files"><b>deletefiles</b></label>
  
        <input type="text" [(ngModel)]=DeletedFiles name="Deleted" class="form-control">

    </div>
    <button type="submit"  class="btn btn-primary btn-block mb-4">Upload</button>

</form>


  <div>
  <br>Dirty: {{Uploadform.dirty}}
  <br>touched: {{Uploadform.touched}}
  <br>valid: {{Uploadform.valid}}
  
  <br>value: {{Uploadform.value|json}}
  </div>
-->