<!-- Example single danger button -->
<div class="btn-group">
  <button id="HubsDropDown" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    HubsProject
  </button>

  <div class="dropdown-menu" aria-labelledBy="HubsDropDown">
    <a [routerLink]="['/app',hub.hubID]" *ngFor="let hub of hubs" class="dropdown-item" href="#">{{hub.hubName}}</a>
  </div>

</div>

<div class="input-group mb-3 my-4">
  <input id="filesSelector" type="file" class="form-control">
</div>

