
<div class="col-sm-3 float-start" >
  <div class="row">
  <button type="button" mat-raised-button color="primary" style="width: 200px;" (click)="add()">
    Add Hub
  </button>
</div>
<div class="list-group mt-3">
  <div class="row" *ngFor ='let hub of Hubs'>
    
    <a  class="list-group-item list-group-item-action" style="width: 200px;" aria-current="true" 
      routerLink="{{hub.hubID}}" 
      routerLinkActive="active"
    >
     {{hub.hubName}}
     
    </a>
    
    <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" [matMenuTriggerData]="{hub: hub}">
      <mat-icon>more_vert</mat-icon>
    </button>
    <!--button  type="button" class="btn btn-warning"  (click)="edit(hub.hubName, hub.hubID)" style="text-align: center;height: 35px;  width: 50px;">Edit</button>
    &nbsp; 	&nbsp;
    <button type="button" class="btn btn-danger"  (click)="delete(hub.hubID)" style="text-align: left; height: 35px; width: 60px;">Delete</button!-->
    </div>
  </div>
</div>


<!-- Edite menu view -->
<!--mat-menu #menu="matMenu">
  <button mat-menu-item type="button" class="btn btn-warning edit color" (click)="edit(hub.hubName, hub.hubID)">
    <i class="material-icons md-light">edit</i> Edit
  </button>
  <button mat-menu-item type="button" class="btn btn-danger delete" (click)="delete(hub.hubID)">
    <i class="material-icons" style="align-content: center;">
      delete_forever
    </i> Delete 
  </button>
</mat-menu-->

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-hub="hub">
    <button mat-menu-item type="button" class="btn btn-warning edit color" (click)="edit(hub.hubName, hub.hubID)">
      <i class="material-icons md-light">edit</i> Edit
    </button>
    <button mat-menu-item type="button" class="btn btn-danger delete" (click)="delete(hub.hubID)">
      <i class="material-icons" style="align-content: center;">
        delete_forever
      </i> Delete 
    </button>
  </ng-template>
</mat-menu>
